@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8fa;
  --foreground: #0a1626;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  h1,
  h2,
  h3 {
    font-weight: 700;
    letter-spacing: -0.02em;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
